body{
  margin: 0;
  padding: 0;
  background-color: pink;
}
/*Logo*/
.intro article figure img{
  margin-top: 30px;
  float: left;
  width: 100px;
  height: 20px;
}

/* Navbar */
.intro article ul{
  margin-top: 30px;
  margin-right: 100px;
  float: right;
  overflow: hidden;
  list-style-type: none;
}
.intro article ul li{
  border-right: solid thin;
  border-color: grey;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.intro article ul li a{
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-size: 22px;
  font-family: Alcubierre;
  color: #456473;
}
.intro article ul li a:hover{
  background-color: #111;
}

/* Primera seccion */
.intro{
  margin-top: -100px;
  padding-bottom: 200px;
  background-image: url("../img/cancer2.jpeg");
  background-size: cover;
}
.parrafo1{
  width: 70%;
  left: 190px;
  position: relative;
  text-align: justify;
  text-align-last: center;
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  top: 50px;
}
.titulo1{
  top: 120px;
  position: relative;
  text-align: center;
  font-size: 100px;
  font-family: Panama;
}

/* Segunda seccion*/
.intro1{
  position: relative;
  padding-bottom: 400px;
  background-image: url("../img/mama.jpg");
  background-size: contain;
}
.parrafo2{
  width: 70%;
  right: 0px;
  margin-right: 190px;
  position: absolute;
  text-align: justify;
  text-align-last: center;
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  margin-top: 160px;
}
.titulo2{
  position: absolute;
  right: 400px;
  text-align: center;
  margin-top: 60px;
  font-size: 60px;
  font-family: Panama;
}

/* Tercera seccion */
.intro2{
  position: relative;
  padding-bottom: 600px;
  background-image: url("../img/lucha.jpg");
  background-size: contain;
}
.titulo3{
  position: absolute;
  right: 300px;
  text-align: center;
  margin-top: 40px;
  font-size: 60px;
  font-family: monospace;
}
.imagenes{
  position: absolute;
  list-style-type: none;
  margin-left: 35px;
  margin-top: 160px;
  margin-bottom: 50px;
}
.imagenes li{
  display: inline-block;
}
ul li figure{
  border-style: solid;
  border-color: brown;
  border-width: 2px;
  border-radius: 50%;
  width: 300px;
  height: 290px;
  overflow: hidden;
  vertical-align: middle;
}
.foto{
  width: 300px;
  height: 290px;
}
.simbolo{
  position: absolute;
  width: 35px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 1em;
  right: 50%;
}

/* Cuarta seccion */
.intro3{
  padding-bottom: 530px;
  position: relative;
  background-image: url("../img/cancer2.jpeg");
  background-size: contain;
}
.tabla{
  position: absolute;
  font-family: Ailerons;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
th{
  font-size: 50px;
  font: Ailerons Regular;
  height: 80px;
}
td{
  border-right: solid whitesmoke;
  border-width: 2px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 1.8em;
  height: 300px;
  vertical-align: top;
  text-align: justify;
  text-align-last: center;
  font-family: League Gothic Condensed;
  font-size: 20px;
}
.texto:last-child{
  border-right: none;
}

