body{
  margin: 0;
  padding: 0;
  background-color: pink;
}
/* NavBar */
nav{
  top: 0;
  width: 100%;
  border-style: dashed;
  border-width: thin;
  position: fixed;
  border-color: green;
  float: right;
  padding-bottom: 10px;
}
nav figure img{
  margin-top: 3px;
  float: left;
  width: 130px;
  height: 50px;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  /*border-style: double;
  border-width: thin;*/

}
nav ul li{
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  /*border-style: solid;
  border-width: thin;*/

}
nav ul li a{
  text-decoration: none;
  font-size: 22px;
  font-family: fantasy;
  color: #456473;
}
.ultimo{
  margin-right: 30px;
}
/* Primera seccion */
.intro{
  border-style: solid;
  border-color: red;
  margin-top: 80px;
  padding-bottom: 280px;
  background-color: #895242;
}
.parrafo1{
  width: 70%;
  right: 0px;
  margin-right: 190px;
  border-style: dotted;
  position: absolute;
  text-align: justify;
  text-align-last: center;
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  margin-top: -50px;
}

.titulo1{
  text-align: center;
  font-size: 100px;
  font-family: Panama;
}
/* Segunda seccion*/
.intro1{
  border-style: dashed;
  border-color: orange;
  padding-bottom: 270px;
  background-color: #674690;
}
.parrafo2{
  width: 70%;
  right: 0px;
  margin-right: 190px;
  border-style: dotted;
  position: absolute;
  text-align: justify;
  text-align-last: center;
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  margin-top: -10px;
}
.titulo2{
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  font-family: Panama;
}
/* Tercera seccion */
.intro2{
  border-style: inset;
  border-color: brown;
  padding-bottom: 70px;
}
.titulo3{
  text-align: center;
  margin-top: 70px;
  font-size: 60px;
  font-family: monospace;
}
.imagenes{
  list-style-type: none;
  margin-left: 35px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.imagenes li{
  display: inline-block;
}
ul li figure{
  border-style: solid;
  border-radius: 50%;
  width: 300px;
  height: 290px;
  overflow: hidden;
  vertical-align: middle;
}
.foto{
  width: 300px;
  height: 290px;
}
.simbolo{
  width: 35px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Cuarta seccion */
.intro3{
  padding-bottom: 60px;
  border-style: dotted;
  border-color: green;
}
.tabla{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
th{
  font-size: 33px;
  height: 80px;
}
td{
  padding-right: 20px;
  padding-left: 20px;
  line-height: 1.8em;
  height: 300px;
  vertical-align: top;
  text-align: justify;
  text-align-last: center;
  font-family: serif;
  font-size: 20px;
}
